--
-- PostgreSQL database dump
--

\restrict XwxflGwwOaO0yFga898EdDQ6bTHCiG730GBAgUKOuRxDL1oO8RbaqqH8ioR2bf4

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.test_panel_analytes DROP CONSTRAINT IF EXISTS test_panel_analytes_panel_id_fkey;
ALTER TABLE IF EXISTS ONLY public.test_panel_analytes DROP CONSTRAINT IF EXISTS test_panel_analytes_analyte_id_fkey;
ALTER TABLE IF EXISTS ONLY public.test_catalog DROP CONSTRAINT IF EXISTS test_catalog_unit_id_fkey;
ALTER TABLE IF EXISTS ONLY public.test_catalog DROP CONSTRAINT IF EXISTS test_catalog_sample_type_id_fkey;
ALTER TABLE IF EXISTS ONLY public.test_catalog DROP CONSTRAINT IF EXISTS test_catalog_department_id_fkey;
ALTER TABLE IF EXISTS ONLY public.panel_range_overrides DROP CONSTRAINT IF EXISTS panel_range_overrides_panel_id_fkey;
ALTER TABLE IF EXISTS ONLY public.panel_range_overrides DROP CONSTRAINT IF EXISTS panel_range_overrides_analyte_id_fkey;
ALTER TABLE IF EXISTS ONLY public.normal_ranges DROP CONSTRAINT IF EXISTS normal_ranges_unit_id_fkey;
ALTER TABLE IF EXISTS ONLY public.normal_ranges DROP CONSTRAINT IF EXISTS normal_ranges_analyte_id_fkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_role;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_department;
ALTER TABLE IF EXISTS ONLY public.wards DROP CONSTRAINT IF EXISTS wards_pkey;
ALTER TABLE IF EXISTS ONLY public.wards DROP CONSTRAINT IF EXISTS wards_name_key;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.units DROP CONSTRAINT IF EXISTS units_unit_name_key;
ALTER TABLE IF EXISTS ONLY public.units DROP CONSTRAINT IF EXISTS units_symbol_key;
ALTER TABLE IF EXISTS ONLY public.units DROP CONSTRAINT IF EXISTS units_pkey;
ALTER TABLE IF EXISTS ONLY public.test_panel_analytes DROP CONSTRAINT IF EXISTS unique_panel_analyte;
ALTER TABLE IF EXISTS ONLY public.normal_ranges DROP CONSTRAINT IF EXISTS unique_analyte_gender;
ALTER TABLE IF EXISTS ONLY public.test_panel_analytes DROP CONSTRAINT IF EXISTS test_panel_analytes_pkey;
ALTER TABLE IF EXISTS ONLY public.test_catalog DROP CONSTRAINT IF EXISTS test_catalog_pkey;
ALTER TABLE IF EXISTS ONLY public.test_catalog DROP CONSTRAINT IF EXISTS test_catalog_name_key;
ALTER TABLE IF EXISTS ONLY public.test_catalog DROP CONSTRAINT IF EXISTS test_catalog_code_key;
ALTER TABLE IF EXISTS ONLY public.sample_types DROP CONSTRAINT IF EXISTS sample_types_pkey;
ALTER TABLE IF EXISTS ONLY public.sample_types DROP CONSTRAINT IF EXISTS sample_types_name_key;
ALTER TABLE IF EXISTS ONLY public.panel_range_overrides DROP CONSTRAINT IF EXISTS panel_range_overrides_pkey;
ALTER TABLE IF EXISTS ONLY public.panel_range_overrides DROP CONSTRAINT IF EXISTS panel_range_overrides_panel_id_analyte_id_key;
ALTER TABLE IF EXISTS ONLY public.normal_ranges DROP CONSTRAINT IF EXISTS normal_ranges_pkey;
ALTER TABLE IF EXISTS ONLY public.departments DROP CONSTRAINT IF EXISTS departments_pkey;
ALTER TABLE IF EXISTS ONLY public.departments DROP CONSTRAINT IF EXISTS departments_name_key;
ALTER TABLE IF EXISTS public.panel_range_overrides ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.wards;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.units;
DROP TABLE IF EXISTS public.test_panel_analytes;
DROP TABLE IF EXISTS public.test_catalog;
DROP TABLE IF EXISTS public.sample_types;
DROP SEQUENCE IF EXISTS public.panel_range_overrides_id_seq;
DROP TABLE IF EXISTS public.panel_range_overrides;
DROP TABLE IF EXISTS public.normal_ranges;
DROP TABLE IF EXISTS public.departments;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.departments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.departments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: normal_ranges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.normal_ranges (
    id integer NOT NULL,
    analyte_id integer,
    gender public.gender_enum DEFAULT 'Any'::public.gender_enum,
    range_type public.range_type_enum DEFAULT 'numeric'::public.range_type_enum,
    qualitative_value character varying(50),
    symbol_operator character varying(10),
    age_min numeric,
    age_max numeric,
    unit_id integer,
    min_value numeric,
    max_value numeric,
    reference_range_text text,
    min_age integer,
    max_age integer,
    range_label text,
    note text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    qualitative_values text[]
);


ALTER TABLE public.normal_ranges OWNER TO postgres;

--
-- Name: normal_ranges_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.normal_ranges ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.normal_ranges_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: panel_range_overrides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.panel_range_overrides (
    id integer NOT NULL,
    panel_id integer NOT NULL,
    analyte_id integer NOT NULL,
    override_range jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.panel_range_overrides OWNER TO postgres;

--
-- Name: panel_range_overrides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.panel_range_overrides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.panel_range_overrides_id_seq OWNER TO postgres;

--
-- Name: panel_range_overrides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.panel_range_overrides_id_seq OWNED BY public.panel_range_overrides.id;


--
-- Name: sample_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sample_types (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    container_type character varying(100),
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sample_types OWNER TO postgres;

--
-- Name: sample_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sample_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sample_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: test_catalog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_catalog (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50),
    price numeric(10,2) DEFAULT 0 NOT NULL,
    department_id integer,
    sample_type_id integer,
    unit_id integer,
    is_panel boolean DEFAULT false,
    is_active boolean DEFAULT true,
    result_value text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    panel_auto_recalc boolean DEFAULT false NOT NULL,
    qualitative_value text[],
    qualitative_values text[],
    price_is_dynamic boolean DEFAULT false,
    test_type text DEFAULT 'quantitative'::text,
    description text
);


ALTER TABLE public.test_catalog OWNER TO postgres;

--
-- Name: test_catalog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.test_catalog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.test_catalog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: test_panel_analytes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_panel_analytes (
    id integer NOT NULL,
    panel_id integer,
    analyte_id integer
);


ALTER TABLE public.test_panel_analytes OWNER TO postgres;

--
-- Name: test_panel_analytes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.test_panel_analytes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.test_panel_analytes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.units (
    id integer NOT NULL,
    symbol character varying(20),
    unit_name character varying(100),
    description character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.units OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.units ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.units_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    department_id integer,
    role_id integer,
    department character varying(100),
    profile_image_url text,
    is_active boolean DEFAULT true,
    last_login_at timestamp with time zone,
    last_seen timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wards (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    type character varying(50) DEFAULT 'General'::character varying
);


ALTER TABLE public.wards OWNER TO postgres;

--
-- Name: wards_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wards ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: panel_range_overrides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panel_range_overrides ALTER COLUMN id SET DEFAULT nextval('public.panel_range_overrides_id_seq'::regclass);


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (id, name, is_active, created_at) FROM stdin;
3	Hematology	t	2025-11-08 18:58:15.276365+00
4	Microbiology	t	2025-11-08 18:58:15.276365+00
5	Serology	t	2025-11-15 14:49:55.925742+00
6	Immunology	t	2025-11-15 14:51:38.281607+00
7	GENERAL	t	2025-11-17 14:53:26.1522+00
1	Administration	t	2025-11-08 18:58:15.276365+00
2	Clinical Chemistry	t	2025-11-08 18:58:15.276365+00
\.


--
-- Data for Name: normal_ranges; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: panel_range_overrides; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.panel_range_overrides (id, panel_id, analyte_id, override_range, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sample_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sample_types (id, name, container_type, description, is_active, created_at) FROM stdin;
1	Serum	\N	Standard serum sample	t	2025-11-08 18:58:15.276365+00
2	Plasma	\N	Plasma sample	t	2025-11-08 18:58:15.276365+00
3	Urine	\N	Urine sample	t	2025-11-08 18:58:15.276365+00
4	Stool Sample	\N	Stool Sample	t	2025-11-17 15:05:52.874144+00
5	Blood	\N	\N	t	2025-11-18 17:58:46.170769+00
7	Stool	\N	\N	t	2025-11-18 17:58:46.170769+00
8	Swab	\N	\N	t	2025-11-18 17:58:46.170769+00
9	Sputum	\N	\N	t	2025-11-18 17:58:46.170769+00
13	Skin Scraping	\N	\N	t	2025-11-22 17:02:03.139999+00
\.


--
-- Data for Name: test_catalog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: test_panel_analytes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 8, true);


--
-- Name: normal_ranges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.normal_ranges_id_seq', 202, true);


--
-- Name: panel_range_overrides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.panel_range_overrides_id_seq', 1, false);


--
-- Name: sample_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sample_types_id_seq', 17, true);


--
-- Name: test_catalog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test_catalog_id_seq', 132, true);


--
-- Name: test_panel_analytes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test_panel_analytes_id_seq', 176, true);


--
-- Name: units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.units_id_seq', 71, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 13, true);


--
-- Name: wards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wards_id_seq', 31, true);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: normal_ranges normal_ranges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_ranges
    ADD CONSTRAINT normal_ranges_pkey PRIMARY KEY (id);


--
-- Name: panel_range_overrides panel_range_overrides_panel_id_analyte_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panel_range_overrides
    ADD CONSTRAINT panel_range_overrides_panel_id_analyte_id_key UNIQUE (panel_id, analyte_id);


--
-- Name: panel_range_overrides panel_range_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panel_range_overrides
    ADD CONSTRAINT panel_range_overrides_pkey PRIMARY KEY (id);


--
-- Name: sample_types sample_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sample_types
    ADD CONSTRAINT sample_types_name_key UNIQUE (name);


--
-- Name: sample_types sample_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sample_types
    ADD CONSTRAINT sample_types_pkey PRIMARY KEY (id);


--
-- Name: test_catalog test_catalog_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_catalog
    ADD CONSTRAINT test_catalog_code_key UNIQUE (code);


--
-- Name: test_catalog test_catalog_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_catalog
    ADD CONSTRAINT test_catalog_name_key UNIQUE (name);


--
-- Name: test_catalog test_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_catalog
    ADD CONSTRAINT test_catalog_pkey PRIMARY KEY (id);


--
-- Name: test_panel_analytes test_panel_analytes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_panel_analytes
    ADD CONSTRAINT test_panel_analytes_pkey PRIMARY KEY (id);


--
-- Name: normal_ranges unique_analyte_gender; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_ranges
    ADD CONSTRAINT unique_analyte_gender UNIQUE (analyte_id, gender);


--
-- Name: test_panel_analytes unique_panel_analyte; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_panel_analytes
    ADD CONSTRAINT unique_panel_analyte UNIQUE (panel_id, analyte_id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: units units_symbol_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_symbol_key UNIQUE (symbol);


--
-- Name: units units_unit_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_unit_name_key UNIQUE (unit_name);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wards wards_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wards
    ADD CONSTRAINT wards_name_key UNIQUE (name);


--
-- Name: wards wards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wards
    ADD CONSTRAINT wards_pkey PRIMARY KEY (id);


--
-- Name: users fk_users_department; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_department FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: users fk_users_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE SET NULL;


--
-- Name: normal_ranges normal_ranges_analyte_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_ranges
    ADD CONSTRAINT normal_ranges_analyte_id_fkey FOREIGN KEY (analyte_id) REFERENCES public.test_catalog(id) ON DELETE CASCADE;


--
-- Name: normal_ranges normal_ranges_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_ranges
    ADD CONSTRAINT normal_ranges_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: panel_range_overrides panel_range_overrides_analyte_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panel_range_overrides
    ADD CONSTRAINT panel_range_overrides_analyte_id_fkey FOREIGN KEY (analyte_id) REFERENCES public.test_catalog(id) ON DELETE CASCADE;


--
-- Name: panel_range_overrides panel_range_overrides_panel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panel_range_overrides
    ADD CONSTRAINT panel_range_overrides_panel_id_fkey FOREIGN KEY (panel_id) REFERENCES public.test_catalog(id) ON DELETE CASCADE;


--
-- Name: test_catalog test_catalog_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_catalog
    ADD CONSTRAINT test_catalog_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: test_catalog test_catalog_sample_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_catalog
    ADD CONSTRAINT test_catalog_sample_type_id_fkey FOREIGN KEY (sample_type_id) REFERENCES public.sample_types(id) ON DELETE SET NULL;


--
-- Name: test_catalog test_catalog_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_catalog
    ADD CONSTRAINT test_catalog_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: test_panel_analytes test_panel_analytes_analyte_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_panel_analytes
    ADD CONSTRAINT test_panel_analytes_analyte_id_fkey FOREIGN KEY (analyte_id) REFERENCES public.test_catalog(id) ON DELETE CASCADE;


--
-- Name: test_panel_analytes test_panel_analytes_panel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_panel_analytes
    ADD CONSTRAINT test_panel_analytes_panel_id_fkey FOREIGN KEY (panel_id) REFERENCES public.test_catalog(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict XwxflGwwOaO0yFga898EdDQ6bTHCiG730GBAgUKOuRxDL1oO8RbaqqH8ioR2bf4

